<h2>Lista de postagens:</h2>
<br>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova postagem</button></a>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h2>{{titulo}}</h2>
            <p>{{conteudo}}</p>
            <small>{{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editar</button></a>
            <form action="/admin/postagens/remove" method="post" style="display:inline;">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-3">Excluir</button>
            </form>
        </div>
    </div>
{{else}}
    <h4>Nenhum post até o o momento!</h4>
{{/each}}