{{#if user}}

{{else}}

<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao blog do Node!</h1>
  <p class="lead">Este é um blog simples, desenvolvido com Node.js, Express e MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você vai ver postagens diversas sobre assuntos diversos!</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/login" role="button">Entrar</a>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar uma conta</a>
</div>

<hr>

{{/if}}



<h2>Postagens recentes:</h2>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{conteudo}}</p>
            <hr>
            <small>Categoria: {{categoria.nome}}</small><br>
            <small>Data de publicação: {{data}}</small>
        </div>
    </div>
{{else}}
    <h5>Nenhuma postagem!</h5>
{{/each}}